body
{
    background-color:rgb(49, 40, 49);
}

h1
{
    color:crimson;
    text-align: center;
}

h2
{
    color:rgb(143, 220, 20);
    text-align: center;
}

/*Navbar*/
ul
{
    list-style-type: none; /*Removes bulletpoints from list.*/
    margin: 0;
    padding: 0px;
    width: 200px;
    background-color: rgb(83, 65, 126);
    border: 1px solid rgb(143, 220, 20);
    height: 100%;
    position: fixed;
    overflow: auto;
}

li
{
    text-align: center;
    border-bottom: 1px solid rgb(143, 220, 20);
}

li a
{
    display: block; /*Allows entire area to be clickable like a button.*/
    /*width: 60px;*/
    color:rgb(143, 220, 20);
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: deepskyblue;
    color:floralwhite;
}

.active
{
    background-color: gold;
    color:hotpink;
}

li:last-child
{
    border-bottom: none;
}