body
{
    background-color:rgb(219, 145, 219);
}

h1
{
    color:crimson;
    text-align: center;
}

/*Navbar*/
ul
{
    list-style-type: none; /*Removes bulletpoints from list.*/
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: darkslateblue;
    border: 1px solid #555;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li
{
    text-align: center;
    border-bottom: 1px solid #555;
}

li a
{
    display: block; /*Allows entire area to be clickable like a button.*/
    /*width: 60px;*/
    color:dimgray;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color: deepskyblue;
    color:floralwhite;
}

.active
{
    background-color: gold;
    color:hotpink;
}

li:last-child
{
    border-bottom: none;
}